<!DOCTYPE html>
<html>
  <head>
    <title>Eton</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script type="text/javascript">
      window.etonLogoURL = "<%= image_url('eton_logo.png') %>"
      window.sidebarLogoURL = "<%= image_url('sidebar_logo.png') %>"
      window.backgroundURL = "<%= image_url('eton_fw_back.png') %>"
      window.welcomeURL = "<%= image_url('welcome.png') %>"
      window.brainURL = "<%= image_url('brain.png') %>"
      window.stepsURL = "<%= image_url('steps.png') %>"
      window.footerURL = "<%= image_url('footer.png') %>"
    </script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
